@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body{
	text-align: center;
}

main{
	background-color: #F5F5F5;
	display: inline-block;
	margin-top: 3%;
	width: 60%;
	min-width: 450px;
	height: 65vh;
	min-height: 350px;

}

#timer{
	font-size: clamp(15px, 5vw, 60px);
	padding-top: 1em;
	padding-bottom: 6em;
	font-family: 'Press Start 2P';
}

button{
	font-family: 'Ubuntu', sans-serif;
	margin-top: 3px;
	font-size: clamp(10px, 5vw, 23px);
	height: 4rem;
	width: 10rem;
	border-radius: 7px;
	box-shadow: -2px 3px 0 rgb(105, 105, 105), -3px 5px 0 rgb(0, 0, 0);
}

button:active{
	box-shadow: inset -2px 2px 0.2px rgb(120, 105, 105), inset -2px 2px 3px rgb(0, 0, 0);
	font-size: clamp(9px, 4vw, 22px);
}

.stop{
	background-color: #A52A2A;
	color: white;
}

.start{
	background-color:	#006400;
	color: white;
}

.pause{
	color: white;
	background-color: 	#DAA520;
}